---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="À propos | Valentin Bissay" description="À propos de Valentin Bissay">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="À propos"
				tagline="Découvrez mon parcours et mes compétences"
			>
				<img
					width="1553"
					height="873"
					src="/assets/valeau2.jpg"
					alt="Valentin Bissay sur l'eau"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						Je suis un développeur passionné avec une solide expérience dans le développement web. 
						Mon parcours académique et professionnel m'a permis d'acquérir des compétences approfondies en développement full-stack. 
						J'ai développé une solide expertise dans la création d'applications web interactives et 
						performantes en utilisant les dernières technologies et frameworks. 
						Mon expérience variée m'a également permis de travailler sur des projets de grande envergure, 
						de collaborer avec des équipes multidisciplinaires et de m'adapter rapidement à de nouveaux environnements de développement.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Diplôme</h2>
				<div class="content">
					<p>BAC+5 Développeur Full-stack (RNCP), BAC+3 Développeur Web (RNCP), BTS SIO option SLAM (Solutions Logicielles et Applications Métiers)</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Compétences</h2>
				<div class="content">
					<p>Curieux, Autonome, Dynamique, Polyvalent et Créatif</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
